body{
    /* position: relative; */
    margin: 0;
    padding:0;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Nav bar styling */
.nav{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: aliceblue;
    overflow-x: hidden;
    z-index: 5;
}
.nav-list{
    display: inline-block;
    position: absolute;
    right: 20px;
}
.heading{
    display: inline-block;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    list-style: none;
    padding: 0 20px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* content styling */

.contact{
    position: relative;
}
.middletext{
    position: absolute;
    top: 45vh;
    left: 43%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: aliceblue;
}
.middletext>span{
    background-color: black;
    padding: 10px;
    margin: 20px;
    opacity: 0.8;
}

.image{
    height: 90%;
    min-width: 7rem;
    max-width: 100%;
    margin: 0 10px 50px 10px;
}

.projects{
    padding-left: 80px;
    margin-top: 50px;
}
.line{
    border: 1px solid rgb(227, 224, 224);
    width: 95vw;
    margin-left: 1.8rem;
}
.images{
    padding: 5px;
    margin: 25px 0 0 10px;
    position: relative;
    display: inline-block;
}
.img{
    width: 350px;  
    margin: 10px 7px 0px 0px;
    /* position: relative; */
}
.para1{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    top: 0px;
    /* left: 0px; */
}
.para2{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px  20px;
    top: 0;
}
.para3{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    top: 0rem;
}
.para4{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    top: 0;
    left: 0;
}
.para5{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    top: 0rem;
}
.para6{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    top: 0px;

}
.para7{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    top: 0px;
} 
.para8{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    top: 0px;
}

/* styling for cards */

.card{
    width:23vw;
    margin: 10px;
    display: inline-block;
}
.card>img{
    width:23vw;
}
.images>p{
    font-family:Arial, sans-serif;
}
h4{
    font-size: 20px;
    margin: 10px;
}
.card>span{
    margin-left: 20px;
    opacity: 0.7;
}
button{
    padding: 15px 41%;
    border: 0;
    font-family:Arial, sans-serif;
}
/* Styling for Contact */

.contact{
    margin-left: 30px;
}
.line2{
    border: 1px solid rgb(159, 159, 159);
}

form{
    margin: 0;
}
input{
    width: 95%;
    padding: 10px;
}
.submit{
    margin:40px 0 ;
    padding: 10px;
    background-color: black;
    color: white;
}
.lastimg{
    margin-left: 15px;
}
.footer{
    /* height: 15vh; */
    width: 100%;
    background-color: black;
    color: aliceblue;
}
.footer>p{
    text-align: center;
    padding: 70px;
    margin: 0;
}
a{
    color: aliceblue;
}